<div class="container">
  <h1>Leaderboards</h1>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4" id="filterrific_results">
      <%= render partial: "ideas/list", collection: @top_ideas, as: :idea %>
  </div>
</div>
