<li class="list-group-item d-flex justify-content-between align-items-start">
  <div class="ms-2 me-auto"><%= link_to truncate(idea.title, length:60), idea %></div>
  <span class="badge bg-primary rounded-pill"><%= idea.comments.size %></span>
</li>
