<li class="list-group-item d-flex">
  <div class="me-auto<%= ' text-info' if comment.student_number.to_i < 2000 %>">
    <%= comment.content.to_s.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe -%>
  </div>
  <div class="text-secondary">
    <%= comment.student_number -%>
  </div>
</li>
