<div class="container">
<h1>FAQs</h1>
<h2>What's going on here?</h2>
<p>This is a tool to help students of Innovation Lab to share their ideas, help others' ideas, and collaborate.</p>
<p>It's been made with love and by hand by <a href="mailto:l.haley@massey.ac.nz">Lucas Haley</a>. It's a living project, and is in constant development.</p>
<p>If you have any bugs to report, please get in touch.</p>
<h2>Why can't I see the people's names?</h2>
<p>For the first few weeks of Major Project, we are all about <strong>ideas</strong>. At the moment, it is unimportant who came up with the idea -- we are looking at them all without the lens of knowing/liking/hating the person behind the idea.</p>
<p>Ideas are still associated with a student id number, so ownership isn't in debate.</p>
<p>Later, as we develop these ideas into pitches, names and ownership comes more into play.</p>
<h2>Why can't I tag with animation/game/film/etc?</h2>
<p>With these ideas, we want students to be flexible about <strong>how</strong> their idea is carried. What you might think is a great film might make an awesome game. Let's be open to other media and platforms as we exist in this ephemeral world of ideas.</p>
<p>Later, as we develop pitches, medium and platform come into play.</p>
</div>
