<li class="list-group-item d-flex" id="<%= dom_id creative %>">
  <div class="me-auto">
    <%= creative.user.full_name %>
  </div>
  <div class="text-secondary">
    <%= creative.position %>
  </div>
</li>
