<p style="color: green"><%= notice %></p>

<h1>Creatives</h1>

<div id="creatives">
  <% @creatives.each do |creative| %>
    <%= render creative %>
    <p>
      <%= link_to "Show this creative", creative %>
    </p>
  <% end %>
</div>

<%= link_to "New creative", new_creative_path %>
